* {
    font-family: Lato, sans-serif, serif;
}

header h1 {
    color: rgb(56, 56, 255);
    font-weight: 900;
    margin: 50px;

}

main {
    margin: 50px;
}

h2 {
    border-bottom: 3px solid rgb(56, 56, 255);
    width: 50%;
}

.insertFormInput,
.editFormInput {
    padding-top: 10px;
}

.insertFormInput>input,
.editFormInput>input {
    border: none;
    border-bottom: 1px solid rgb(56, 56, 255);
    margin-left: 10px;
}

.submitButton {
    border-style: none;
    border-radius: 5px;
    background-color: rgb(56, 56, 255);
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    transition: 0.5s ease;
}

.submitButton:hover {
    background-color: rgb(110, 110, 255);
    transition: 0.5s ease;
}

.listArticle {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.listArticle button {
    margin-right: 10px;
    order: -1;
    width: 50px;
    border-style: none;
    border-radius: 5px;
    height: 30px;
    background-color: rgb(56, 56, 255);
    color: white;
    transition: 0.5s ease;
}

.listArticle button:hover {
    background-color: rgb(110, 110, 255);
    transition: 0.5s ease;
}